@import url("./root.css"); /* Default Browser setting reset*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;900&display=swap'); /* Import 'Raleway' font from google font*/

#main-section {
    font-family: 'Raleway', sans-serif;
    width: 60vw; 
    height: 90vh;   
    margin: 2rem auto;
    border: .05rem solid rgba(0, 0, 0, 0.25);;
    overflow: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
#search-by-name-wrap {
    border-bottom: 0.3rem solid rgba(63, 59, 59, 0.411);
    padding: 0.5rem 0;
    margin-top: 1rem;
}
#search-by-name-input {    
    width: 50%;
    margin-left: 1.5rem;
    outline: 0;    
    border-radius: .5rem;    
    border:none;
    padding-bottom: 0.5rem;
}
#search-by-name-label, #input-add-tag-label {
    display: none;
}
#info-section-wrap {    
    display: flex;    
    border-bottom: .05rem solid  rgba(0, 0, 0, 0.25);;
    padding: 1.5rem 0;  
    
    height: auto;
}
#image-wrap {
    width: 15rem;
}
#info-wrap {    
   width: 40rem;
}
#info-wrap h2 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
#info-wrap p {
    margin-left: 2rem;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
#image {
    transform: scale(2.2);
    border: 1px solid  rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin-top: 3rem;
    margin-left: 5rem; 
}
#expand-view {    
    color: rgba(46, 43, 43, 0.432);
    cursor: pointer;    
    width: 5rem;
    font-size: 2rem;
    
}
#tag-name-wrap {
    display: flex;
   
}
#tag-name {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 0.5rem 0.5rem 0 0.5rem;
    border-radius: 10%;
    margin-bottom: 1rem;    
}
form {
    margin-left: 2rem;
}
#add-tag {    
    border: none; 
    border-bottom: 0.1rem solid  rgba(0, 0, 0, 0.25);      
}
/*Style Scroll bar*/
::-webkit-scrollbar {
    width: 0.3em;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color:  rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}
.show-results {
    display: block;
}
.hide-results {
    display: none;
}
